{%extends "chat/base.html"%}

{%block content%}
<div class = "row">
    <div class = "col" id = "toBeLoaded">
        {%for item in chats%}
            {%if item.sender == request.user.username%}
                <div class = "w3-card-4 w3-round-xlarge bg-primary text-light" align = "right" style = "padding:15px;">
                    <h6>{{item.message}}</h6>
                </div>
                <hr>
        
            {%else%}
        `       <div class = "w3-card-4 w3-round-xlarge" align = "left" style = "padding:15px;">
                    <h6>{{item.message}}</h6>
                </div>
                <hr>
            {%endif%}
        {%endfor%}
        
    </div>
</div>
{%endblock%}