.bg{
   background: -webkit-linear-gradient(left, rgba(200, 4, 3, 0.8), rgba(2, 0, 120, 0.8));
    min-height: 700px;
    background-attachment:fixed;
}

h1,h2,h3,h4,h5,h6,p{
    color:white;
    opacity:0.9;
}

input[type]{
    background:rgb(200, 60, 20);
    opacity:0.6;
    color:white;
    border:0;
    width:100%;
    padding:8px;
    margin:4px;
    outline:none;
    line-height:2.5em;
    
}

.toMiddle{
    margin-top:80px;
}

.heading{
    font-family:fantasy;
    font-size:3em;
    font-size-adjust: auto;
}

.scrollable{
    height:600px;
    overflow-y:auto;
    overflow-x:none;
}

#flinch{
    font-family:monospace;
    text-align:center;
    margin-top:20px;
}

.recent{
    background-color:darkblue;
    opacity:0.7;
    padding:10px;    
}

.senderStyle, .receiverStyle{
    padding:16px;
    width:auto
}

.senderStyle{
    background-color:maroon;
}

.receiverStyle{
    background-color:black;
}