{%extends "chat/base.html"%}

{%block content%}
<div class = "row">
    <div class = "col-md-4 offset-md-2" id = "signup">
        <h5 class = "text-center">Sign-up</h5>
        <hr>
        <div class = "w3-panel w3-white w3-card-2" style = "overflow-y:auto">
            <form class = "m-5" method = "POST" action = "{%url 'users:userSignup'%}">
                {%csrf_token%}
                <label class = "sr-only">Firstname</label>
                <div class = "input-group">
                    <div class = "input-group-prepend">
                        <div class = "input-group-text">
                            <span class = "fas fa-pen-fancy"></span>
                        </div>
                    </div>
                    <input class = "form-control" type = "text" name = "firstname" placeholder = "Firstname" required>
                </div>
                <br>
                <label class = "sr-only">Lastname</label>
                <div class = "input-group">
                    <div class = "input-group-prepend">
                        <div class = "input-group-text">
                            <span class = "fas fa-pen-fancy"></span>
                        </div>
                    </div>
                    <input class = "form-control" type = "text" name = "lastname" placeholder = "Lastname" required>
                </div>
                <br>
                <label class = "sr-only">Phone</label>
                <div class = "input-group">
                    <div class = "input-group-prepend">
                        <div class = "input-group-text">
                            <span class = "fas fa-phone"></span>
                        </div>
                    </div>
                    <input class = "form-control" type = "text" name = "phone" placeholder = "Phone" required>
                </div>
                <br>
                <label class = "sr-only">Recovery Code</label>
                <div class = "input-group">
                    <div class = "input-group-prepend">
                        <div class = "input-group-text">
                            <span class = "fas fa-code"></span>
                        </div>
                    </div>
                    <input class = "form-control" type = "password" name = "recovery" placeholder = "Recovery Code" required>
                </div>
                <br>
                
                <label class = "sr-only">Email</label>
                <div class = "input-group">
                    <div class = "input-group-prepend">
                        <div class = "input-group-text">
                            <span class = "fas fa-mail-bulk"></span>
                        </div>
                    </div>
                    <input class = "form-control" type = "email" name = "email" placeholder = "Email" required>
                </div>
                
                <label class = "sr-only">Password</label>
                <div class = "input-group mt-3">
                    <div class = "input-group-prepend">
                        <div class = "input-group-text">
                            <span class = "fas fa-pen"></span>
                        </div>
                    </div>
                    <input class = "form-control" type = "password" name = "password" placeholder = "Password" required>
                </div>
                
                <label class = "sr-only">Address</label>
                <div class = "input-group mt-3">
                    <div class = "input-group-prepend">
                        <div class = "input-group-text">
                            <span class = "fas fa-map-pin"></span>
                        </div>
                    </div>
                    <input class = "form-control" type = "text" name = "location" placeholder = "Address" required>
                </div>
                <hr>
                <button class = "btn btn-dark btn-block" type = "submit">Signup</button>
            </form>
        </div>
    </div>
    
    <div class = "col-md-4" id = "signin">
        <h5 class = "text-center">Sign-in</h5>
         <hr>
        <div class = "w3-panel w3-white w3-card-2">
            <form class = "m-5" method = "post" action = "{%url 'users:userLogin'%}">
                {%csrf_token%}
                <label class = "sr-only">Email</label>
                <div class = "input-group">
                    <div class = "input-group-prepend">
                        <div class = "input-group-text">
                            <span class = "fas fa-mail-bulk"></span>
                        </div>
                    </div>
                    <input class = "form-control" type = "email" name = "email" placeholder = "Email" required>
                </div>
                
                <label class = "sr-only">Password</label>
                <div class = "input-group mt-3">
                    <div class = "input-group-prepend">
                        <div class = "input-group-text">
                            <span class = "fas fa-pen"></span>
                        </div>
                    </div>
                    <input class = "form-control" type = "password" name = "password" placeholder = "Password" required>
                </div>
                <hr>
                <button class = "btn btn-info btn-block" type = "submit">Signin</button>
            </form>
        </div>
    </div>
</div>
{%endblock%}

{%block otherJs%}
<script>
    $('#signin').click(function(){
        let signup = document.querySelector('#signup');
        signup.style.opacity = 0.2;
        $('#signin').click(function(){
            $(this).css("opacity", '1')
        })
    })
    
    $('#signup').click(function(){
        $('#signin').css("opacity", "0.2")
        $('#signup').click(function(){
            $(this).css('opacity', '1')
        })
    })
</script>
{%endblock%}